<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white">{{ categoryObj.category }}</h1>
        <div class="search-container">
            <input type="text" [(ngModel)]="searchText" placeholder="Search" (input)="searchProducts()">
            <button *ngIf="!searchText" class="btn search-icon" tabindex="0"><i class="fas fa-search"></i></button>
            <button *ngIf="searchText" class="btn clear-icon" tabindex="0" (click)="clearSearch()"><i class="fas fa-close"></i></button>
        </div>

    </div>
</div>

<div class="container py-5">
    <div class="row g-4">
        <div 
            class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mb-4 mt-4"
            *ngFor="let product of filteredProducts"
        >
            <app-product-card 
                [productData]="product" 
                class="w-100">
            </app-product-card>
        </div>
    </div>
</div>